@import "../../sass//variables";

.questionare {
  display: flex;
}

.questions {
  text-align: center;
  font-size: $default-font-size-3;
  margin-top: 1rem;
  font-weight: 600;
}

.questionNumber {
  width: 100%;
  height: 2rem;
  text-align: center;
  font-size: $default-font-size-3;
}

.score {
  text-align: center;
  font-size: $default-font-size-3;
  margin-top: 1rem;
}

@media (max-width: 520px) {
  .questionare {
    flex-direction: column;
  }
}
