@import '../../sass//variables';
@import '../../sass/typography';

.testFinished{
    border: .2rem solid $color-grey-dark-2;
    border-radius: 1rem;
    width: 30%;
    height: 10rem;
    margin: 0 auto;

    &-results{
        font-size: $default-font-size;
        color: $color-grey-dark-3;
        text-align: center;
        margin-top: 10%;
    }

    &-button{
        background-color: $color-grey-dark-3;
        cursor: pointer;
        width: 40%;
        height: 2rem;
        border-radius: 2rem;
        text-align: center;
        // vertical-align: center;
        color: $color-grey-light-3;
        font-size: $default-font-size-3;
        margin-left: 30%;
        margin-top: 5%;
        padding-top: .4rem;
        transition: transform .1s;
    }

    &-button:hover {
        transform: scale(1.1);
      }
}